#config.cfg
#Only change source, output, sample_type. sample_type can be TWIST or IDT
bclsource="/clinical/ccs01/dept/PATH/Molecular_Diagnostics/Validation/20260701_LH00399_0047_B22FTVTLT1"
bcloutput="/clinical/ccs01/dept/PATH/Molecular_Diagnostics/Eval/MRD_AML16_workinggroup/data_analysis/patient_cohort/genomic_dna/20260701_LH00399_0047_B22FTVTLT1"
sheet="/clinical/ccs01/dept/PATH/Molecular_Diagnostics/Eval/MRD_AML16_workinggroup/master_sheet/samplesheet_Intcases_MRD_IDT_SideB.csv"
LOG="/clinical/ccs01/dept/PATH/Molecular_Diagnostics/Eval/MRD_AML16_workinggroup/data_analysis/patient_cohort/genomic_dna/20260701_LH00399_0047_B22FTVTLT1"

source="/clinical/ccs01/dept/PATH/Molecular_Diagnostics/Eval/MRD_AML16_workinggroup/data_analysis/normals/genomic/20260225_LH00399_0034_A23LKMFLT4/combined"
output="/clinical/ccs01/dept/PATH/Molecular_Diagnostics/Eval/MRD_AML16_workinggroup/data_analysis/normals/genomic/20260225_LH00399_0034_A23LKMFLT4/combined/Output"

#Genomic=IDT cfDNA=TWIST
#sample_type="IDT"
sample_type="IDT" 
bed="/home/mjani/aml/bedfile_SJPedPan_combined/Annotated_Target_MRD_Panel.bed"
#svbed="/clinical/ccs01/home/clusterHome/mjani/aml/scripts/aml_mrd_sv_genes.bed"

apertureRef="/home/mjani/cfdna/Aperture"
apjar="/home/mjani/cfdna/Aperture/aperture13.jar"
ref="/home/mjani/cfdna/hg19/hg19.fa"
twist_whitelist="/clinical/ccs01/dept/PATH/Molecular_Diagnostics/Eval/VB_researchonly/dragen_common/twist_umi_whitelist.txt"
idt_whitelist="/clinical/ccs01/dept/PATH/Molecular_Diagnostics/Eval/JW/DragenCFDNA/xGen_Prism_umi_whitelist.txt"
dragen_ref_dir="/clinical/ccs01/dept/PATH/Molecular_Diagnostics/Validation/ref/ref_dragen42"
sysnoise="/clinical/ccs01/dept/PATH/Molecular_Diagnostics/Eval/MRD_AML16_workinggroup/data_analysis/normals/genomic/dragen_systematic_noise/aml_mrd_genomic_systematic_noise_v1.0_systematic_noise.bed.gz"
annotsv_annotations_dir="/home/mjani/cfdna/AnnotSV_annotations"
txpriority="/clinical/ccs01/home/clusterHome/mjani/aml/scripts/txpriority.txt"

src="/home/mjani/aml/iAnnotateSV/iAnnotateSV/iAnnotateSV.py"
svbed="/clinical/ccs01/home/clusterHome/mjani/aml/scripts/aml_mrd_sv_genes_extended.bed"
hgref="/clinical/ccs01/dept/PATH/Molecular_Diagnostics/Eval/MRD_AML16_workinggroup/data_analysis/patient_cohort/Output/SV_output/self_annot/hg19.refGene.gtf"
mittledb="/clinical/ccs01/dept/PATH/Molecular_Diagnostics/Eval/MRD_AML16_workinggroup/data_analysis/patient_cohort/Output/SV_output_ori/combined_scripts/mittleman_genes.tsv"
